<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="/javascripts/bundle.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Pomodoro To-Do App</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="flash"></div>
      <div id="content"></div>
      <footer id="footer-wrapper"></footer>
    </div>
  </body>
</html>
