.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .timer-label {
    text-align: center;
  }

  .timer-countdown {
    text-align: center;
    font-size: $timer-font-size;
  }
}
