.to-do-index-item {
  margin: $to-do-item-margin;

  label, button {
    margin: $to-do-item-spacing;
  }

  .to-do-title-index-item {
    cursor: pointer;
  }

  .show-to-do-details {
    border-radius: $to-do-show-details-button-radius;
  }
}
