.to-do-form {
  display: none;
  margin-top: $to-do-form-margin-top;

  * {
    margin: $to-do-form-spacing;
  }

  .title-input {
    width: $title-input-width;
  }

  .description-textbox {
    width: $description-textbox-width;
    height: $description-textbox-height;
  }

  .submit {
    padding: $to-do-form-submit-padding;
    font-size: $to-do-form-font-size;
  }
}

.to-do-form.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}
