.to-do-index-item {
  margin: $to-do-item-margin;
  border-bottom: $standard-border;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;

  label, button {
    margin: $to-do-item-spacing;
  }

  .to-do-title-index-item {
    font-size: $to-do-title-font-size;
    font-weight: $bold;
  }

  .to-do-title-index-item {
    cursor: pointer;
  }

  .to-do-index-item-buttons-wrapper {
    margin: $to-do-item-buttons-wrapper-margin;
  }

  .show-to-do-details {
    border-radius: $to-do-show-details-button-radius;
  }

  .to-do-index-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    width: $to-do-details-width;
    height: $to-do-details-height;
    margin: auto;

    * {
      margin: $to-do-item-details-spacing;
    }

    .to-do-index-item-description {
      text-align: left;
    }
  }
}
